<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Authentication test</title>
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<h2>{{page}}</h2>
{{{body}}}   
</body>
</html>